node-red/flows.json
[{"id":"42f3defb9a2a7faa","type":"tab","label":"Setup Automation","disabled":false,"info":"","env":[]},{"id":"573922b128a270ca","type":"tab","label":"iPhone battery alert","disabled":false,"info":"","env":[]},{"id":"1ba9590adbe7c30a","type":"tab","label":"Work","disabled":false,"info":"","env":[]},{"id":"fab57b75973e779f","type":"tab","label":"Climate","disabled":false,"info":"","env":[]},{"id":"5f6911d5.3b175","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30},{"id":"9ea5c8ce.347088","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30},{"id":"4881d9a9a7ee78e6","type":"alexa-remote-account","name":"Amazon Account","authMethod":"proxy","proxyOwnIp":"192.168.1.188","proxyPort":"3456","cookieFile":"/config/alexa.cookie","refreshInterval":"3","alexaServiceHost":"alexa.amazon.com.br","amazonPage":"amazon.com","acceptLanguage":"amazon.com.br","userAgent":"","useWsMqtt":"on","autoInit":"on"},{"id":"ff8feefe87339d24","type":"inject","z":"42f3defb9a2a7faa","name":"09:00 AM","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 09 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":120,"wires":[["7c5026897fe83dc6"]]},{"id":"7c5026897fe83dc6","type":"api-call-service","z":"42f3defb9a2a7faa","name":"Turn off ambilight","server":"9ea5c8ce.347088","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.ambilight","light.first_led_hardware_instance"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":330,"y":120,"wires":[["c6a06e8d05cf4b5f"]]},{"id":"c6a06e8d05cf4b5f","type":"api-call-service","z":"42f3defb9a2a7faa","name":"Turn off LED table","server":"9ea5c8ce.347088","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.mesa"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":570,"y":120,"wires":[[]]},{"id":"e4ee75974ccc8076","type":"comment","z":"42f3defb9a2a7faa","name":"LED - Manhã","info":"","x":110,"y":60,"wires":[]},{"id":"761eb0f63a1a80c7","type":"inject","z":"42f3defb9a2a7faa","name":"10:30 AM","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"30 10 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":200,"wires":[["304325efb76d4f8f"]]},{"id":"304325efb76d4f8f","type":"api-call-service","z":"42f3defb9a2a7faa","name":"Turn on LED screen","server":"9ea5c8ce.347088","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.ambilight"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":340,"y":200,"wires":[["a034d46a2699de24"]]},{"id":"a034d46a2699de24","type":"api-call-service","z":"42f3defb9a2a7faa","name":"Turn on LED table","server":"9ea5c8ce.347088","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.mesa"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":570,"y":200,"wires":[["6e718366fc517b1c"]]},{"id":"6e718366fc517b1c","type":"api-call-service","z":"42f3defb9a2a7faa","name":"Morning Preset","server":"9ea5c8ce.347088","version":5,"debugenabled":false,"domain":"select","service":"select_option","areaId":[],"deviceId":["a2b8387ec577a1f906cbb6562a7ee97e","c2ba2bdca74d6161afdd1b9ba3e27783"],"entityId":["select.ambilight_preset","select.mesa_preset"],"data":"{\"option\":\"Morning\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":800,"y":200,"wires":[[]]},{"id":"d3e76e5cc05b96f7","type":"inject","z":"42f3defb9a2a7faa","name":"12:00 AM","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 12 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":280,"wires":[["df31fa65fdec5127"]]},{"id":"df31fa65fdec5127","type":"api-call-service","z":"42f3defb9a2a7faa","name":"Chroma Preset","server":"9ea5c8ce.347088","version":5,"debugenabled":false,"domain":"select","service":"select_option","areaId":[],"deviceId":["c2ba2bdca74d6161afdd1b9ba3e27783"],"entityId":["select.mesa_preset"],"data":"{\"option\":\"Chroma\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":320,"y":280,"wires":[["25c0351aab87be00"]]},{"id":"25c0351aab87be00","type":"api-call-service","z":"42f3defb9a2a7faa","name":"Turn on ambilight","server":"9ea5c8ce.347088","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":["c26bedbf313091c9f87e5a3e26e6b9be"],"entityId":["light.first_led_hardware_instance"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":590,"y":280,"wires":[[]]},{"id":"3122f469e1a6c299","type":"comment","z":"42f3defb9a2a7faa","name":"LED - By iPhone location","info":"","x":150,"y":360,"wires":[]},{"id":"1b8d99ce221890a7","type":"api-call-service","z":"42f3defb9a2a7faa","name":"Turn off ambilight","server":"9ea5c8ce.347088","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.ambilight","light.first_led_hardware_instance"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":310,"y":440,"wires":[["9874a839b861d8d0"]]},{"id":"9874a839b861d8d0","type":"api-call-service","z":"42f3defb9a2a7faa","name":"Turn off LED table","server":"9ea5c8ce.347088","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.mesa"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":530,"y":440,"wires":[["4882999b2d481673"]]},{"id":"2bb2eb7d6af7595a","type":"api-call-service","z":"42f3defb9a2a7faa","name":"Notify mobile app","server":"9ea5c8ce.347088","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_iphone_de_jonathan","areaId":[],"deviceId":[],"entityId":[],"data":"{\"title\":\"Ao sair de casa\",\"message\":\"As leds do setup foram desligadas\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":950,"y":440,"wires":[[]]},{"id":"b4d72d82072e8283","type":"api-call-service","z":"42f3defb9a2a7faa","name":"Turn on LED screen and ambilight","server":"9ea5c8ce.347088","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":["a2b8387ec577a1f906cbb6562a7ee97e","c26bedbf313091c9f87e5a3e26e6b9be"],"entityId":["light.ambilight","light.first_led_hardware_instance"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":360,"y":520,"wires":[["0d0799e5b87bce28"]]},{"id":"0d0799e5b87bce28","type":"api-call-service","z":"42f3defb9a2a7faa","name":"Turn on LED table","server":"9ea5c8ce.347088","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.mesa"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":630,"y":520,"wires":[["75d1f6ccc2df5f32"]]},{"id":"75d1f6ccc2df5f32","type":"api-call-service","z":"42f3defb9a2a7faa","name":"Chroma Preset","server":"9ea5c8ce.347088","version":5,"debugenabled":false,"domain":"select","service":"select_option","areaId":[],"deviceId":["c2ba2bdca74d6161afdd1b9ba3e27783"],"entityId":["select.mesa_preset"],"data":"{\"option\":\"Chroma\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":840,"y":520,"wires":[["a21b8420c5b8449f"]]},{"id":"4882999b2d481673","type":"api-call-service","z":"42f3defb9a2a7faa","name":"Turn off screens","server":"9ea5c8ce.347088","version":5,"debugenabled":false,"domain":"script","service":"pc_gamer_displays_off","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":740,"y":440,"wires":[["2bb2eb7d6af7595a"]]},{"id":"a21b8420c5b8449f","type":"api-call-service","z":"42f3defb9a2a7faa","name":"Turn on screens","server":"9ea5c8ce.347088","version":5,"debugenabled":false,"domain":"script","service":"pc_gamer_displays_on","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1040,"y":520,"wires":[[]]},{"id":"ede02a7cb73b7242","type":"ha-zone","z":"42f3defb9a2a7faa","name":"Leave Home","server":"9ea5c8ce.347088","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entities":["device_tracker.iphone_de_jonathan"],"event":"leave","zones":["zone.home"],"x":110,"y":440,"wires":[["1b8d99ce221890a7"]]},{"id":"f5125afdc42998e4","type":"ha-zone","z":"42f3defb9a2a7faa","name":"Enter Home","server":"9ea5c8ce.347088","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entities":["device_tracker.iphone_de_jonathan"],"event":"enter","zones":["zone.home"],"x":110,"y":520,"wires":[["b4d72d82072e8283"]]},{"id":"755a659266736b64","type":"api-current-state","z":"42f3defb9a2a7faa","name":"RTX 3060 Speed","server":"9ea5c8ce.347088","version":3,"outputs":2,"halt_if":"0.0","halt_if_type":"num","halt_if_compare":"is","entity_id":"sensor.rtx3060_speed_formatted","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":590,"y":700,"wires":[["451d4ee4132bc709"],[]]},{"id":"abdc38d17e638aa3","type":"inject","z":"42f3defb9a2a7faa","name":"3 min","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"180","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":700,"wires":[["7231495d7533af29"]]},{"id":"451d4ee4132bc709","type":"api-current-state","z":"42f3defb9a2a7faa","name":"GTX 1660 Speed","server":"9ea5c8ce.347088","version":3,"outputs":2,"halt_if":"0.0","halt_if_type":"num","halt_if_compare":"is","entity_id":"sensor.gtx1660_speed_formatted","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":790,"y":700,"wires":[["604fff96840a44fb"],[]]},{"id":"5562117b134df0e6","type":"api-call-service","z":"42f3defb9a2a7faa","name":"Alexa notify","server":"9ea5c8ce.347088","version":5,"debugenabled":false,"domain":"notify","service":"alexa_media_echo_dot_de_jonathan","areaId":[],"deviceId":[],"entityId":[],"data":"{\t    \"message\": \"não está minerando\",\t    \"data\": {\t        \"type\": \"tts\"\t    }\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":250,"y":820,"wires":[[]]},{"id":"604fff96840a44fb","type":"api-call-service","z":"42f3defb9a2a7faa","name":"Notify mobile app","server":"9ea5c8ce.347088","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_iphone_de_jonathan","areaId":[],"deviceId":[],"entityId":[],"data":"{\"title\":\"RIG Mining\",\"message\":\"A RIG não está minerando!\",\"data\":{\"push\":{\"sound\":{\"name\":\"default\",\"critical\":1,\"volume\":1}}}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":270,"y":760,"wires":[["4cc370a3faf4b9f2"]]},{"id":"7231495d7533af29","type":"api-current-state","z":"42f3defb9a2a7faa","name":"3060 Status","server":"9ea5c8ce.347088","version":3,"outputs":2,"halt_if":"Mining","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.geforce_rtx_3060_status","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":250,"y":700,"wires":[["b473fef607e51893"],[]]},{"id":"b473fef607e51893","type":"api-current-state","z":"42f3defb9a2a7faa","name":"1660 Status","server":"9ea5c8ce.347088","version":3,"outputs":2,"halt_if":"Mining","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.geforce_gtx_1660_status","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":410,"y":700,"wires":[["755a659266736b64"],[]]},{"id":"3be7218177867083","type":"comment","z":"42f3defb9a2a7faa","name":"Mining verify","info":"","x":110,"y":620,"wires":[]},{"id":"4cc370a3faf4b9f2","type":"api-current-state","z":"42f3defb9a2a7faa","name":"Location","server":"9ea5c8ce.347088","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"device_tracker.iphone_de_jonathan","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":440,"y":760,"wires":[["8eb1de1e66e39295"]]},{"id":"8eb1de1e66e39295","type":"function","z":"42f3defb9a2a7faa","name":"Home location?","func":"if(msg.payload == \"home\") {\n    msg.payload = \"alert\";\n} else {\n    msg.payload = \"notAlert\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":760,"wires":[["457e3e8fe851b790"]]},{"id":"457e3e8fe851b790","type":"switch","z":"42f3defb9a2a7faa","name":"Notify verification","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"alert","vt":"str"},{"t":"eq","v":"notAlert","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":790,"y":760,"wires":[["5562117b134df0e6"],[]]},{"id":"db3798c3bab34111","type":"inject","z":"42f3defb9a2a7faa","name":"Ambilight","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":960,"wires":[["757003700c038d8b","0ab0e51c7df40daf"]]},{"id":"29acf8b6f19da37e","type":"api-call-service","z":"42f3defb9a2a7faa","name":"Close Hyperion Application","server":"5f6911d5.3b175","version":5,"debugenabled":false,"domain":"script","service":"pc_gamer_close_hyperion","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":860,"y":1000,"wires":[["98b70c315fed71b8"]]},{"id":"0ab0e51c7df40daf","type":"api-current-state","z":"42f3defb9a2a7faa","name":"Button Ambilight","server":"5f6911d5.3b175","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.hyperion_controller","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":140,"y":1000,"wires":[[],["086698722a16b418"]]},{"id":"757003700c038d8b","type":"api-current-state","z":"42f3defb9a2a7faa","name":"Hyperion","server":"5f6911d5.3b175","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.first_led_hardware_instance","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":120,"y":920,"wires":[["086698722a16b418"],[]]},{"id":"086698722a16b418","type":"join","z":"42f3defb9a2a7faa","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":", ","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":330,"y":960,"wires":[["23f3c75a9e73c202"]]},{"id":"23f3c75a9e73c202","type":"function","z":"42f3defb9a2a7faa","name":"","func":"if(msg.payload == \"on, off\" || msg.payload == \"off, on\") {\n    msg.payload = \"execute\";\n} else {\n    msg.payload = \"notExecute\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":960,"wires":[["33b4c0bb161185e2"]]},{"id":"33b4c0bb161185e2","type":"switch","z":"42f3defb9a2a7faa","name":"Execute?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"execute","vt":"str"},{"t":"eq","v":"notExecute","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":600,"y":960,"wires":[["55e9bc3172d484ba"],[]]},{"id":"55e9bc3172d484ba","type":"api-call-service","z":"42f3defb9a2a7faa","name":"Turn off ambilight","server":"9ea5c8ce.347088","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.first_led_hardware_instance"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":490,"y":1000,"wires":[["dcac4f162abd2841"]]},{"id":"7333500f74fcb4a6","type":"api-call-service","z":"42f3defb9a2a7faa","name":"Turn on LED screen","server":"9ea5c8ce.347088","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.ambilight"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":640,"y":1040,"wires":[[]]},{"id":"98b70c315fed71b8","type":"delay","z":"42f3defb9a2a7faa","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":460,"y":1040,"wires":[["7333500f74fcb4a6"]]},{"id":"dcac4f162abd2841","type":"delay","z":"42f3defb9a2a7faa","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":660,"y":1000,"wires":[["29acf8b6f19da37e"]]},{"id":"0c797027610e21a6","type":"debug","z":"42f3defb9a2a7faa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":1260,"wires":[]},{"id":"66eae825dac1e245","type":"inject","z":"42f3defb9a2a7faa","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":1240,"wires":[["e05b1488847e8762"]]},{"id":"e05b1488847e8762","type":"api-current-state","z":"42f3defb9a2a7faa","name":"","server":"5f6911d5.3b175","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.jonathan_last_changed","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":490,"y":1200,"wires":[["0c797027610e21a6"]]},{"id":"d02543bc0784f742","type":"inject","z":"573922b128a270ca","name":"Every 5 minutes","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":320,"wires":[["c36c74d0a64df92b"]]},{"id":"c36c74d0a64df92b","type":"api-current-state","z":"573922b128a270ca","name":"Battery percentage","server":"9ea5c8ce.347088","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"sensor.iphone_de_jonathan_battery","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":370,"y":320,"wires":[["08a59e03b2f59f70"]]},{"id":"08a59e03b2f59f70","type":"switch","z":"573922b128a270ca","name":"Battery condition","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"20","vt":"num"},{"t":"eq","v":"100","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":320,"wires":[["70766ffc61babe8b"],["649b829103c132d6"]]},{"id":"70766ffc61babe8b","type":"api-current-state","z":"573922b128a270ca","name":"Location","server":"9ea5c8ce.347088","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"device_tracker.iphone_de_jonathan","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":560,"y":280,"wires":[["270c59a79d35e502"]]},{"id":"5dfc7d555c374e05","type":"function","z":"573922b128a270ca","name":"Home and charged and 100%","func":"if(msg.payload == \"home\") {\n    if(msg.data.attributes.battery_status == \"Charged\") {\n        msg.payload = \"alert\";\n    }\n} else {\n    msg.payload = \"notAlert\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":400,"wires":[["66b957a5ce44c4d6"]]},{"id":"649b829103c132d6","type":"api-current-state","z":"573922b128a270ca","name":"Location","server":"9ea5c8ce.347088","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"device_tracker.iphone_de_jonathan","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":560,"y":360,"wires":[["5dfc7d555c374e05"]]},{"id":"43a342a417b5b502","type":"api-call-service","z":"573922b128a270ca","name":"Alexa notify","server":"9ea5c8ce.347088","version":5,"debugenabled":false,"domain":"notify","service":"alexa_media_echo_dot_de_jonathan","areaId":[],"deviceId":[],"entityId":[],"data":"{\t    \"message\": \"Colocar iPhone para carregar\",\t    \"data\": {\t        \"type\": \"tts\"\t    }\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":850,"y":280,"wires":[[]]},{"id":"52e20d4a92687c50","type":"api-call-service","z":"573922b128a270ca","name":"Alexa notify","server":"9ea5c8ce.347088","version":5,"debugenabled":false,"domain":"notify","service":"alexa_media_echo_dot_de_jonathan","areaId":[],"deviceId":[],"entityId":[],"data":"{\t    \"message\": \"O iPhone está carregado\",\t    \"data\": {\t        \"type\": \"tts\"\t    }\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":850,"y":360,"wires":[[]]},{"id":"66b957a5ce44c4d6","type":"switch","z":"573922b128a270ca","name":"Notify verification","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"alert","vt":"str"},{"t":"eq","v":"notAlert","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":870,"y":400,"wires":[["52e20d4a92687c50"],[]]},{"id":"270c59a79d35e502","type":"function","z":"573922b128a270ca","name":"Home and charged and 100%","func":"if(msg.payload == \"home\") {\n    if(msg.data.attributes.battery_status == \"NotCharging\") {\n        msg.payload = \"alert\";\n    }\n} else {\n    msg.payload = \"notAlert\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":240,"wires":[["e9e9410445b4dfe2"]]},{"id":"e9e9410445b4dfe2","type":"switch","z":"573922b128a270ca","name":"Notify verification","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"alert","vt":"str"},{"t":"eq","v":"notAlert","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":870,"y":240,"wires":[["43a342a417b5b502"],[]]},{"id":"55a03a98a4179cbf","type":"inject","z":"1ba9590adbe7c30a","name":"09:25 AM","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"25 09 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":200,"wires":[["b192f4df94341b8a"]]},{"id":"b192f4df94341b8a","type":"api-call-service","z":"1ba9590adbe7c30a","name":"Screen on","server":"9ea5c8ce.347088","version":5,"debugenabled":false,"domain":"script","service":"pc_gamer_displays_on","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":310,"y":200,"wires":[["8c73f4af9ffca79e"]]},{"id":"8c73f4af9ffca79e","type":"api-call-service","z":"1ba9590adbe7c30a","name":"Start work","server":"9ea5c8ce.347088","version":5,"debugenabled":false,"domain":"script","service":"pc_gamer_start_work","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":480,"y":200,"wires":[[]]},{"id":"deba232f38379dac","type":"server-state-changed","z":"fab57b75973e779f","name":"Ar Condicionado Quarto","server":"5f6911d5.3b175","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"climate.ar_condicionado","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":200,"wires":[["c757293121fdc107"]]},{"id":"c757293121fdc107","type":"switch","z":"fab57b75973e779f","name":"Cool / Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"cool","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":320,"y":200,"wires":[["6fe040a430be9d14"],["065295335c95448d"]]},{"id":"065295335c95448d","type":"function","z":"fab57b75973e779f","name":"Power Off","func":"const entity = msg.data.new_state.attributes.firendly_name;\nmsg.payload = {\n    type: 'smarthome',\n    payload: {\n        entity,\n        action: 'turnOff'\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":240,"wires":[["7c755c712dc79aed"]]},{"id":"7c755c712dc79aed","type":"alexa-remote-routine","z":"fab57b75973e779f","name":"Custom","account":"4881d9a9a7ee78e6","routineNode":{"type":"smarthome","payload":{"entity":"87426e30-894d-45e1-912a-bc33985e1960","action":"turnOff"}},"x":480,"y":240,"wires":[[]]},{"id":"6fe040a430be9d14","type":"function","z":"fab57b75973e779f","name":"Power On","func":"const entity = msg.data.new_state.attributes.firendly_name;\nmsg.temperatura = math.round(msg.data.new_state.attributes.temperature);\nmsg.payload = {\n    type: 'smarthome',\n    payload: {\n        entity,\n        action: 'turnOn'\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":160,"wires":[["b1cac636f49b0e5b"]]},{"id":"b1cac636f49b0e5b","type":"alexa-remote-routine","z":"fab57b75973e779f","name":"Custom","account":"4881d9a9a7ee78e6","routineNode":{"type":"custom","payload":{"type":"msg","value":"payload"}},"x":480,"y":160,"wires":[["1844c9ddfe02b6ce"]]},{"id":"1844c9ddfe02b6ce","type":"delay","z":"fab57b75973e779f","name":"","pauseType":"delay","timeout":"7","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":640,"y":160,"wires":[["7e7f80708f65a15c"]]},{"id":"a232b2ebb928fc1d","type":"inject","z":"fab57b75973e779f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":340,"wires":[[]]},{"id":"7e7f80708f65a15c","type":"function","z":"fab57b75973e779f","name":"Change temperature","func":"msg.payload = {\n    type: 'smarthome',\n    payload: {\n        entity: msg.data_new_state.attributes.friendly_name,\n        action: 'setTargetTemperature',\n        scale: 'celcius',\n        value: msg.temperatura\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":160,"wires":[["12361d263448aecd"]]},{"id":"12361d263448aecd","type":"alexa-remote-routine","z":"fab57b75973e779f","name":"Custom","account":"4881d9a9a7ee78e6","routineNode":{"type":"custom","payload":{"type":"msg","value":"payload"}},"x":1040,"y":160,"wires":[[]]},{"id":"eb46308680dc0417","type":"ha-entity","z":"fab57b75973e779f","name":"Ar Condicionado Quarto","server":"5f6911d5.3b175","version":2,"debugenabled":false,"outputs":2,"entityType":"switch","config":[{"property":"name","value":"Ar Condicionato Quarto"},{"property":"device_class","value":""},{"property":"icon","value":"mdi: air-conditioner"},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"","outputPayloadType":"str","x":130,"y":100,"wires":[[],[]]}]