node-red/flows.json
[{"id":"fab57b75973e779f","type":"tab","label":"Climate","disabled":false,"info":"","env":[]},{"id":"5f6911d5.3b175","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30},{"id":"9ea5c8ce.347088","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30},{"id":"4881d9a9a7ee78e6","type":"alexa-remote-account","name":"Amazon Account","authMethod":"proxy","proxyOwnIp":"192.168.1.188","proxyPort":"3456","cookieFile":"/config/alexa.cookie","refreshInterval":"3","alexaServiceHost":"alexa.amazon.com.br","amazonPage":"amazon.com","acceptLanguage":"amazon.com.br","userAgent":"","useWsMqtt":"on","autoInit":"on"},{"id":"deba232f38379dac","type":"server-state-changed","z":"fab57b75973e779f","name":"Ar Condicionado Quarto","server":"5f6911d5.3b175","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"climate.ar_condicionado","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":200,"wires":[["c757293121fdc107"]]},{"id":"c757293121fdc107","type":"switch","z":"fab57b75973e779f","name":"Cool / Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"cool","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":320,"y":200,"wires":[["6fe040a430be9d14"],["065295335c95448d"]]},{"id":"065295335c95448d","type":"function","z":"fab57b75973e779f","name":"Power Off","func":"const entity = msg.data.new_state.attributes.firendly_name;\nmsg.payload = {\n    type: 'smarthome',\n    payload: {\n        entity,\n        action: 'turnOff'\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":240,"wires":[["7c755c712dc79aed"]]},{"id":"7c755c712dc79aed","type":"alexa-remote-routine","z":"fab57b75973e779f","name":"Custom","account":"4881d9a9a7ee78e6","routineNode":{"type":"smarthome","payload":{"entity":"87426e30-894d-45e1-912a-bc33985e1960","action":"turnOff"}},"x":480,"y":240,"wires":[[]]},{"id":"6fe040a430be9d14","type":"function","z":"fab57b75973e779f","name":"Power On","func":"const entity = msg.data.new_state.attributes.firendly_name;\nmsg.temperatura = math.round(msg.data.new_state.attributes.temperature);\nmsg.payload = {\n    type: 'smarthome',\n    payload: {\n        entity,\n        action: 'turnOn'\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":160,"wires":[["b1cac636f49b0e5b"]]},{"id":"b1cac636f49b0e5b","type":"alexa-remote-routine","z":"fab57b75973e779f","name":"Custom","account":"4881d9a9a7ee78e6","routineNode":{"type":"custom","payload":{"type":"msg","value":"payload"}},"x":480,"y":160,"wires":[["1844c9ddfe02b6ce"]]},{"id":"1844c9ddfe02b6ce","type":"delay","z":"fab57b75973e779f","name":"","pauseType":"delay","timeout":"7","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":640,"y":160,"wires":[["7e7f80708f65a15c"]]},{"id":"7e7f80708f65a15c","type":"function","z":"fab57b75973e779f","name":"Change temperature","func":"msg.payload = {\n    type: 'smarthome',\n    payload: {\n        entity: msg.data_new_state.attributes.friendly_name,\n        action: 'setTargetTemperature',\n        scale: 'celcius',\n        value: msg.temperatura\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":160,"wires":[["12361d263448aecd"]]},{"id":"12361d263448aecd","type":"alexa-remote-routine","z":"fab57b75973e779f","name":"Custom","account":"4881d9a9a7ee78e6","routineNode":{"type":"custom","payload":{"type":"msg","value":"payload"}},"x":1040,"y":160,"wires":[[]]},{"id":"eb46308680dc0417","type":"ha-entity","z":"fab57b75973e779f","name":"Ar Condicionado Quarto","server":"5f6911d5.3b175","version":2,"debugenabled":false,"outputs":2,"entityType":"switch","config":[{"property":"name","value":"Ar Condicionato Quarto"},{"property":"device_class","value":""},{"property":"icon","value":"mdi: air-conditioner"},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"","outputPayloadType":"str","x":130,"y":100,"wires":[[],[]]}]